body > footer > div > div > div > div.default-content-wrapper {
    justify-content: center;
    display: flex;
    align-items: center;
    border-top: 1px solid hsla(0,0%,100%,.4);
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    padding: 15px 0;
}
 
body > footer > div > div > div > div.default-content-wrapper > p > a:nth-child(1) {
    padding-left: 50px;
}
 
body > footer > div > div > div > div.default-content-wrapper > p > a {
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}
 
body > footer > div > div > div > div:nth-child(2) > div > div:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    align-content: center;
    align-items: center;
}
body > footer > div > div > div > div:nth-child(2) > div > div:nth-child(2) > div {
    margin-right: 20px;
    margin-bottom: 10px;
    flex: unset;
}
body > footer > div > div > div > div:nth-child(2) > div > div:nth-child(2) > div > picture > img {
    height: 44px;
    width: 44px;
    background: #de0043;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
body > footer > div > div > div > div:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 200vw;
    transform: skewY(-3deg);
    background: #10384f;
    height: 100vh;
    top: -70px;
    z-index: -1;
    left: -50vw;
    opacity: .2;
}
body > footer > div > div > div > div:nth-child(2) > div > div:nth-child(1) > div > h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    color: #fff;
    margin-bottom: 0.5rem;
}
body > footer > div > div > div > div:nth-child(2) {
    padding-bottom: 55px;
    position: relative;
    z-index: 1;
}
body > footer > div > div > div > div.default-content-wrapper {
    position: relative;
    z-index: 1;
}
body > footer {
    position: relative;
    width: 99vw;
    left: 50%;
    margin-left: -50vw;
    color: #fff;
    overflow: hidden;
    font-weight: 200;
    font-style: normal;
    background-color: #624963;
    display: block;
}
body > footer > div > div > div > div.default-content-wrapper > p > a {
    text-decoration: none;
}
body > footer > div > div > div > div:nth-child(1) > div > div {
    align-items: unset;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div:nth-child(1) > h1 {
    margin: 0;
    height: 50px;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div > h1 > a {
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    height: 75px;
    display: block;
    color: #fff;
    text-decoration: none;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div > p > a {
    font-weight: 400 !important;
    font-size: 26px;
    background-color: unset  !important;
    border-radius: unset !important;
    border: unset !important;
    padding: 0 !important;
    margin: 0 !important;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div > p {
    margin: 0;
    height: 50px;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div:nth-child(4) > h3 {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.667;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div > ul {
    list-style-type: none;
    padding-left: 0px;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div > ul > li > a {
    color: #fff;
    font-weight: 200;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div:nth-child(1) > ul > li::before, body > footer > div > div > div > div:nth-child(1) > div > div > div:nth-child(2) > ul > li::before, body > footer > div > div > div > div:nth-child(1) > div > div > div:nth-child(3) > ul > li::before {
    font-family: FontAwesome;
    content: "\f105";
    padding-right: 10px;
    color: #fff;
    font-size: 12px;
    position: relative;
    top: 3px;
}
body > footer > div > div > div > div:nth-child(1) {
    padding: 70px 0 100px;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div:nth-child(4) > ul > li > a {
    width:100px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rempx;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0;
    color: #fff;
    padding: 18px 70px 18px 22px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-weight: 800;
    font-style: italic;
    font-size: 12px;
    letter-spacing: .58px;
    line-height: 1;
    text-align: left;
    background: #de0043 no-repeat 100% 0;
    margin: 5px 0;
    -webkit-transition: padding .3s ease;
    -moz-transition: padding .3s ease;
    -ms-transition: padding .3s ease;
    -o-transition: padding .3s ease;
    transition: padding .3s ease;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div:nth-child(4) > ul > li > a::before {
    content: "";
    display: block;
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    left: calc(100% - 54px);
    transform: skewX(-12deg);
    opacity: 1;
    background-color: #ff3162;
    pointer-events: none;
    touch-action: none;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -ms-transition: left .3s ease;
    -o-transition: left .3s ease;
    transition: left .3s ease;
}
body > footer > div > div > div > div:nth-child(1) > div > div > div:nth-child(4) > ul > li > a::after {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 20px;
    font-style: normal;
    display: block;
    position: absolute;
    right: 20px;
    top: calc(50% - 11px);
    background: transparent no-repeat 50%;
    background-size: 14px 20px;
    pointer-events: none;
    touch-action: none;
    -webkit-transition: right .3s ease;
    -moz-transition: right .3s ease;
    -ms-transition: right .3s ease;
    -o-transition: right .3s ease;
    transition: right .3s ease;
    color: #fff;
}
