/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;

  /* fonts */
  --body-font-family: roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}
//Lokesh


body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div:nth-child(1) > div > div > div > p:nth-child(1){
    color: #108000;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .56px;
    line-height: 1.45;
    margin: 0 15%;
}
#innovation-inspired-by-nature{
    padding-top: 10px;
    font-size: 52px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 200;
    font-style: normal;
    font-family: "Neue Helvetica", Arial, Roboto, sans-serif;
    margin-left: 15%;
    margin: 0 15%;
}

main .section.light, main .section.highlight{
    background-color: white;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > summary{
    background-color: white;
}

body > main > div.section.columns-container.accordion-container.carousel-container > div > div > div > div > p{
    font-family: Calibri,sans-serif;
   font-size:16px;
   font-variant: normal;
   
  font-weight: 300;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div:nth-child(2){
    width: 60%;
    float: right;
    text-align: left;
    margin-right: 50px;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper{
    width: 30%;
    /* float: left; */
    margin-left: 50px;
    height: 130rem;
}

#microbial-biologicals , #biological-pheromones, #microbial-biologicals, #botanical-natural-products {
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: .9px;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.default-content-wrapper{
width:100%;
display: block;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div:nth-child(2) > div > div > div > p > picture > img{
    width: 60%;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > summary > p{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #0d2a40;
    letter-spacing: .5px;
    text-align: right;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details{
    border-right: none;
    border-left: none;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details{
    margin-top: 0px;
}


body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > div{
font-size: 15px;
margin: 5px;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > div{
    border-top: 0;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div > div > div > div > p > a{
    color: #0075a6;
    font-weight: 500;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > summary > ul{
    list-style-type:none;
    margin: 0;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > summary > ul > li > a{
    font-size: 15px;
    color: #10384f !important;
    text-decoration: none;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > summary > ul > li > a:hover{
    
    color: #ff3162;
   
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > summary > p > a{
    color: #10384f;
    background: none;
    margin: 0;
    font-weight: 300;
    padding: 0;
    display: block;
    text-align: left;
    margin-left: 2rem;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > summary > p:hover,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > summary > p > a:hover {
    color: #ff3162;
}


body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > div{
    position: absolute;
    z-index: 99;
    left: 35%;
    margin-top: -2.7rem;
    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    background: #fff;
    border-top: 1px solid #cccccc;
}




body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details> div > ul{
    list-style: none;
    padding-left: 5px;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > div > ul > li > a{
    color: #10384f;
    background: none;
    margin: 0;
    font-weight: 300;
    padding: 5px 0px;
    display: block;
    text-align: left;
    margin-left: 0rem;
    text-decoration: none;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > div > ul > li > a:hover{
    color: #ff3162;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div{
    width: 62%;
    line-height: 1;
    float: right;

}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(14) > div,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(7) > div,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(8) > div,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(1) > div,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(2) > div,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(3) > div,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(1) > summary:after,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(2) > summary:after,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(3) > summary:after,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(7) > summary:after,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(8) > summary:after,
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(14) > summary:after

{
    display:none !important;
}

.accordion-item-body{
display: none;
}
body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details > summary:hover +  .accordion-item-body{
    display:block;
}

body > main > div.section.highlight.columns-container.accordion-container.carousel-container > div.accordion-wrapper > div > details:nth-child(3) > summary > ul > li > a{
    color: #0075a6 !important;
    pointer-events: none;
}
